{
	"plugins": [
		"module:jsx-control-statements",
		"transform-inline-environment-variables",
		"react-html-attrs",
		[
			"sitrep",
			{
				"label": "inspect"
			}
		],
		[
			"flow-runtime",
			{
				"assert": true,
				"annotate": true
			}
		],
		[
			"react-css-modules",
			{
				"context": "../source",
				"generateScopedName": "[local]"
			}
		],
		"transform-class-properties",
		"transform-decorators-legacy"
	],

	"presets": [
		"es2016",
		"es2017",
		"flow",
		"react",
		"stage-0"
	]
}
