:root {
	--midnight: #273338;
}

#editor, html, body {
	background: #1E1E1E;
	// background: var(--midnight);
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#editor {

}

mount, body {
	display: flex;
	flex-direction: row;
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	max-height: 100vh;
}

#editor {
	height: 100%;
	flex: 1;
	overflow-y: hidden;
	padding-top: 12px;
}

#editor.fat {

}



:global(.CodeFlask__pre.language-javascript),
:global(.CodeFlask__code.language-javascript),
:global(textarea.CodeFlask__textarea) {
	tab-size: 4 !important;
}





